{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'steam/home.css' %}" />

<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
    </head>
    <body>
	<div id="container">
		<!-- Page specific content goes here -->
		<h1>SteamTop10</h1>
		<p3>See a Steam user's 10 most played games</p3>
		<form action="/steam/results/" method="post">
			{% csrf_token %}
			<input type="text" name="steamid" id="input" placeholder="Profile ID/Steam64 ID" value="{{ steamid }}"><br>
			<input type="submit" value="Go"><br>
		</form>

		<script>
			document.getElementById("input").value = '';
		</script>
	</div>
    </body>
</html>
